@model MainProject.Data.Models.Services

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Services</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:lightsteelblue">
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>
        <dd style="color:white">
            @Html.DisplayFor(model => model.ServiceType)
        </dd>
        <dt style="color:lightsteelblue">
            @Html.DisplayNameFor(model => model.ServiceStatus)
        </dt>
        <dd style="color:white">
            @Html.DisplayFor(model => model.ServiceStatus)
        </dd>
        <dt style="color:lightsteelblue">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd style="color:white">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt style="color:lightsteelblue">
            @Html.DisplayNameFor(model => model.BasePrice)
        </dt>
        <dd style="color:white">
            @Html.DisplayFor(model => model.BasePrice)
        </dd>
        <dt style="color:lightsteelblue">
            @Html.DisplayNameFor(model => model.ServiceDate)
        </dt>
        <dd style="color:white">
            @Html.DisplayFor(model => model.ServiceDate)
        </dd>
        <dt style="color:lightsteelblue">
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>
        <dd style="color:white">
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>
        <dt style="color:lightsteelblue">
            @Html.DisplayNameFor(model => model.IsServiceDiscount)
        </dt>
        <dd style="color:white">
            @Html.DisplayFor(model => model.IsServiceDiscount)
        </dd>
        <dt style="color:lightsteelblue">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd style="color:white">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
