@model MainProject.Models.ViewModels.ServiceViewModel

@{
    ViewData["Title"] = "Index";
}

<h2 style="color:white">@Model.Title</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
            @foreach (var item in Model.Services)
            {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="~/images/pending.jpg" />

                    <h3 class="pull-right">@item.BasePrice</h3>

                    <h3>
                        <a asp-controller="Service" asp-action="Details" asp-route-id="@item.Id">@item.ServiceType</a>
                    </h3>

                    <p>@item.Description</p>
                </div>                
            </div>
            }
