<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - QuickFix</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap core CSS     -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/Content/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

    <!-- Fontfaces CSS-->
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <!--Cant get image to work TODO: look into this.-->
        <div class="sidebar" data-color="blue" data-image="~Content/Images/sidebar.jpg">

            <div class="sidebar-wrapper" data-color="red">
               
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">

                        @Html.Partial("_LoginPartial")

                    </div>
                </div>
            </nav>            
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Admin/assets/js/bootstrap-notify.js"></script>
    <!-- TODO: Google Maps Plugin    -->
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>*@
</body>
</html>